.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.form-column {
    width: 600px;
}

.label-column {
    width: 120px;
}

.input-column {
    flex: 1;
}


#dateAndTime {
    width: 1000px;
}

textarea {
    width: 100%;
    height: 6rem;
    resize: vertical;
}

@media screen and (max-width: 600px) {
    .form-row {
        flex-direction: column;
    }
}