.event-card {
  background-color: #31f191;
  padding-bottom: 10px;
  border-radius: 5px;
  margin: 20px;
}
.event-card-home{
  background-color: #31f191;
  padding-bottom: 10px;
  border-radius: 5px;
  margin: 20px;
  width:28%;
  display: inline-block;

}

.event-details {
  font-size: 16px;
  margin-bottom: 10px;
  margin: 0 10px;
}

#rvsp-button,
.event-buttons {
  margin-top: 10px;
}
@media screen and (min-width: 500px) {
  .event-card-home {
    width:45%;
    display: inline-block;
  
  }
}


@media screen and (max-width: 400px) {
  .event-card {
    max-width: 80%;
    margin: 5%;
  }

  .name {
    font-size: 100%;
    margin: 5%;
  }


  .event-details {
    font-size: 60%;
    margin: 5%;
  }

  #rvsp-button,
  #button {
    font-size: 70%;
    width: 50%;
    margin: 5%;

  }

}

@media screen and (max-width: 300px) {
  .event-card {
    max-width: 60%;
    margin: 5%;
  }

  .name {
    font-size: 100%;
    margin: 5%;
  }


  .event-details {
    font-size: 60%;
    margin: 5%;
  }

  #rvsp-button,
  #button {
    font-size: 70%;
    width: 50%;
    margin: 5%;

  }

}


@media screen and (max-width: 250px) {
  .event-card {
    max-width: 50%;
    margin: 5%;
  }

  .name {
    font-size: 100%;
    margin: 5%;
  }


  .event-details {
    font-size: 60%;
    margin: 5%;
  }

  #rvsp-button,
  #button {
    font-size: 70%;
    width: 50%;
    margin: 5%;

  }

}


@media screen and (max-width: 200px) {
  .event-card {
    max-width: 40%;
    margin: 5%;
  }

  .name {
    font-size: 100%;
    margin: 5%;
  }

  .event-details {
    font-size: 60%;
    margin: 5%;
  }

  #rvsp-button,
  #button {
    font-size: 50%;
    max-width: 50px;
    padding: 0;
    margin: 0;

  }

}

@media screen and (max-width: 150px) {
  .event-card {
    max-width: 30%;
    margin: 5%;
  }

  .name {
    font-size: 100%;
    margin: 5%;
  }


  .event-details {
    font-size: 60%;
    margin: 5%;
  }

  #rvsp-button,
  #button {
    font-size: 50%;
    max-width: 50px;

    padding: 0;
    margin: 0;
  }

}

#button {
  background-color: #c42a2a;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  width: 150px;
}

#rvsp-button {
  background-color: green;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  width: 150px;
}

.error-message {
  background-color: #ff4d4f; 
  color: #fff;
  /* padding: 10px;
  border-radius: 5px; */
}