.event-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.event-page-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.event-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.event-form .form-row {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.Date {
    margin: 20px;
}

.Time {
    margin: 20px;
}

.event-form .form-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 50px;
}

.event-form label {
    margin-bottom: 0.5rem;
}

.input-area {
    width: 100%;
}

input,
textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.event-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .event-form .form-column {
        margin: 20px;
    }
}