.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}



.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    width: 100%;
    margin: 0 5%;
    align-items: center;
}

#title {
    font-size: 60px;
    font-weight: bold;
    text-decoration: underline;
    color: white;
    padding: 20px;
    background-color: #28C8A8;
    width: 100%;
}

.add-event-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #097d26;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease;
}



.add-event-button:hover {
    background-color: #0056b3;
}

.no-event-text {
    color: #6c757d;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 430px) {
    .card-container {
        align-items: center;
    }
}