.nav_link{
    font-size: 30px;
    padding: 10px;
}

.logo-shift {
    margin-left: 40px;
}

.nav_links{
    width: 100%;
    justify-content: center;
    font-size:30px;
}

.app-name{
margin-left: 10px;
font-size: 60px;
margin-top: 35px;
}

.navright {
    width:100%;
}

