.home-container {
    background-color: #c1e8e0;
    min-height: 100vh;
}

.home-image {
    background-color: rgb(46, 77, 161);
    border-radius: 20px;
    margin-top: 15%;
}

.involved-card {
    background-color: greenyellow;
    margin-top: 18%;
    border-radius: 20px;
    list-style-type: none;
}


li {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    font-size: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: flex-start;
}

.home-image {
    width: 100%;
    max-width: 100%;
    /* Adjust the width as desired */
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        /* Single column layout */
        grid-gap: 10px;
        /* Adjust the gap between the elements */
    }
}