.containing-div {
    background-color: #c1e8e0;
    /* Replace with your desired background color */
    min-height: 100vh;
    /* Ensures the container covers the full height of the viewport */
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
}

h4 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

.button {
    margin-top: 30px;
    width: 20px;
    margin-bottom: 50px;
}

.text {
    font-size: 30px;
    font-style: italic;
}

/* .space {
    margin-top: 30px;
} */

.fontsize {
    font-size: 25px;
}

.font {
    font-family: 'Libre Baskerville', serif;
}

.spaces {
    margin-top: 15px;
}