.home-container {
    background-color: #c1e8e0;
    min-height: 100vh;
  }
  
  .border {
    border-radius: 5%;
    background-color: #065b83;
  }
  
  .margins {
    margin-top: 100px;
    min-height: 600px;
  }
  
  .userinfo {
    font-size: 25px;
  }
  
  .space {
    margin-top: 30px;
    margin-bottom: 45px;
  }
  
  .center {
    width: 60%;
    justify-content: center;
  }
  
  .marginright {
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .event-card {
    background-color: #f8f8f8;
  }
  
  .textsize {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .text-container {
    overflow-wrap: break-word;
  }

  .font {
    color:rgb(5, 5, 152)
  }
  